6. Usando os dados a seguir e um classificador Naive Bayes, a qual classe o texto “what do you mean” deveria ser classificado?

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import cross_val_predict

Base de dados

In [4]:
colunas = ['Texto', 'Classe']
dados = (['They are novels', 'stms'],['have you read this book', 'question'],['who is the author', 'question'],['what are the characters', 'question'],['This is how I bought the book', 'stms'],['I like fictions', 'stms'],['what is your favorite book', 'question'],['This is my book', 'stms'])

In [5]:
data_pharse = pd.DataFrame(columns=colunas, data=dados)
data_pharse

                           Texto    Classe
0                They are novels      stms
1        have you read this book  question
2              who is the author  question
3        what are the characters  question
4  This is how I bought the book      stms
5                I like fictions      stms
6     what is your favorite book  question
7                This is my book      stms

Construção do modelo

In [6]:
phrase = data_pharse['Texto'].values
phrase

array(['They are novels', 'have you read this book', 'who is the author',
       'what are the characters', 'This is how I bought the book',
       'I like fictions', 'what is your favorite book', 'This is my book'],
      dtype=object)

In [10]:
classes = data_pharse['Classe'].values
classes

array(['stms', 'question', 'question', 'question', 'stms', 'stms',
       'question', 'stms'], dtype=object)

In [18]:
vectorizer = CountVectorizer(analyzer="word")
frequence = vectorizer.fit_transform(phrase)
modelo = MultinomialNB()
modelo.fit(frequence, classes)

MultinomialNB()

Teste

In [12]:
test = ["What do you mean"]

frequence_test = vectorizer.transform(test)
print(modelo.predict(frequence_test))

['question']